<a href="https://api.whatsapp.com/send?phone=5511956999330" class="btn-custom" target="_blank" aria-label="Fazer reserva para hoje pelo WhatsApp">
  reservas para hoje
</a>
<a href="http://widget.getinapp.com.br/e63nVx1v" class="btn-custom" target="_blank" aria-label="Fazer reserva para outras datas">
  reservas para outras datas
</a>