<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="https://cdn.myportfolio.com/51c7e8d6-c54f-489c-88fc-9921e63e16c0/66934f3a-41ce-4ade-acd2-bd3444dcda11_carw_1x1x32.png?h=942bd9ec57ec046c81d9654c5c19d119">
  <title>arturito</title>
  <link rel="stylesheet" href="/src/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>

  <div class="page">

  <div class="sidebar">
    <%- include('../components/header') %> 
    <%- include('../components/menu') %>
  </div>

    <div class="conteudo">
      <div id="mini-map" style="margin-top: 10px;"></div>

      <div class="containerMap">
        <div class="addressMap" id="myAddressMap">
          <b>Arturito</b><br />
          Rua Chabad, 124 <br />
          Jardim Paulista<br />
          (11) 2780-0485
        </div>
      </div>
    </div>

  </div>

  <script src="/src/js/javascript.js"></script>
  <script src="/src/js/mapa.js"></script>
</body>
</html>
